.a1 {
	margin-top: 10%;
}
.lang {
  width: 7.1%;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.5vh 0vh 0vh 0vh;
  padding: 3vh 0vh;
  transition: all 0.3s;
  font-size: 1.1875rem;
  font-family: "Inconsolata", monospace;
  color: #f2f4f4;
}
.lang:hover {
  color: #f25a14;
  box-shadow: 0vh -0.5vh 0vh #f25a14 inset;
}
body {
  margin: 0;
  width: 100%;
}
header,
footer {
  background-color: black;
  
}
.logo {
  width: 10vh;
  height: 10vh;
  padding: 1vh 3vw;
}
.header {
  position: fixed;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 12vh;
}
nav {
  width: 100%;
  display: flex;
}
.nav {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.5vh 0vh 0vh 0vh;
  padding: 3vh 0vh;
  transition: all 0.3s;
  width: 16.6%;
  font-size: 1.1875rem;
  font-family: "Inconsolata", monospace;
  color: #f2f4f4;
}
.nav:hover {
  color: #f25a14;
  box-shadow: 0vh -0.5vh 0vh #f25a14 inset;
}


main{
  padding: 12vh 0vh 0vh 0vh;
  min-height: 68vh;
}
.info {
  width: 100%;
  display: flex;
}
.text {
  width: 40%;
  height: 30%;
  margin: 10vh 0vh;
  background-color: rgb(255, 80, 0, 0.2);
  padding: 3vh 3vh;
  border-radius: 3vh;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
}
.info img {
  width: 40%;
  height: 30%;
  padding: 7vh 10vh 5vh;
}
.all_button {
  display: flex;
}

.button {
    position: relative;
    z-index: 3;
    display: block;
    padding: 0px 15vh;
    margin-bottom: 10px;
    line-height: 5vh;
    border-width: 0;
    border-radius: 30px;
    font-family: "Inconsolata", monospace;
    font-family: "Roboto Slab", serif;
    margin-top: 10px;
    background: #dc7633;
    border-bottom: 4px solid #f25a14;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 2.5vh;
}

.button1{
  width: 10%;
  padding: 1vh;
  margin: 1vh;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  background: #dc7633;
  border-radius: 1vh;
  border-color: #dc7633;
  color: white;
  font-size: 14px;
}

#form-detail {
	width: 40%;
	margin-right: 10%;
}

.decor {
  position: relative;
  z-index: 3;
  max-width: 550px;
  margin: 1vh auto 0;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 30px;
}
.decor1{
	background: rgb(255, 80, 0, 0);
}
footer {
  color: white;
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  height: 20vh;
}
.contacts {
  display: flex;
  padding: 1vh 1.5vh 0vh 1.5vh;
}
.cont {
  width: 30%;
  text-align: center;
}
.logo2 {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.t-sociallinks__svg {
  margin: 0vh 1vh;
  display: block;
}

select {
  border-radius: 1vh;
  border-width: 0.3vh;
  border-color: #dc7633;
  font-size: 19px;
}
select:hover {
  background-color: rgb(255, 80, 0, 0.2);
}
.filter {
  display: flex;
  width: 100%;
  margin: 4vh 0vh;
  padding: 0vh;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
}
.inner {
  width: 10%;
  padding: 1vh;
  margin: 1vh;
  margin-right: 20px;
}
.opt1 {
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
}
.opt {
  background-color: rgb(255, 80, 0, 0.2);
  font-size: 14px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  opacity: 0.65;
}
.opt:hover {
  opacity: 1;
}
.filter input[type="submit"] {
  width: 10%;
  padding: 1vh;
  margin: 1vh;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  background: #dc7633;
  border-radius: 1vh;
  border-color: #dc7633;
  color: white;
  font-size: 14px;
}

.sort-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	
}
