.butt {
  display: flex;
  margin: 2vh 0vh 0vh 0vh;
}
.butt a {
  margin: 0vh 1vh;
}
.lang {
  width: 7.1%;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.5vh 0vh 0vh 0vh;
  padding: 3vh 0vh;
  transition: all 0.3s;
  font-size: 1.1875rem;
  font-family: "Inconsolata", monospace;
  color: #f2f4f4;
}
.lang:hover {
  color: #f25a14;
  box-shadow: 0vh -0.5vh 0vh #f25a14 inset;
}
body {
  margin: 0;
  height: 100vh;
}
header {
  background-color: black;
}
.logo {
  width: 10vh;
  height: 10vh;
  padding: 1vh 3vw;
}
.header {
  position: fixed;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 12vh;
}
nav {
  width: 100%;
  display: flex;
}
.nav {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.5vh 0vh 0vh 0vh;
  padding: 3vh 0vh;
  transition: all 0.3s;
  width: 16.6%;
  font-size: 1.1875rem;
  font-family: "Inconsolata", monospace;
  color: #f2f4f4;
}
.nav:hover {
  color: #f25a14;
  box-shadow: 0vh -0.5vh 0vh #f25a14 inset;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  background: url(https://i.imgur.com/FVpz71l.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.info {
  position: relative;
  z-index: 3;
  width: 50%;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}
#info_h2 {
  font-weight: bold;
  color: #f2f4f4;
  font-size: 2rem;
  text-align: center;
}

.decor {
  position: relative;
  z-index: 3;
  max-width: 70%;
  margin: 4vh auto 0;
  padding: 2vh;
  background: rgb(255, 255, 255, 0);
  border-radius: 30px;
}

.inner p {
  padding: 20px;
  margin: 0vh auto;
  position: relative;
  background-color: rgb(255, 255, 255, 0.85);
  z-index: 3;
  display: block;
  width: 80%;
  padding: 0 20px;
  margin-bottom: 5px;
  line-height: 7vh;
  border-width: 0;
  border-radius: 30px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
}
.button {
  position: relative;
  z-index: 3;
  display: block;
  width: 63%;
  padding: 0px 20px;
  margin-bottom: 10px;
  line-height: 6vh;
  border-width: 0;
  border-radius: 30px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
  background: #dc7633;
  border-bottom: 4px solid #f25a14;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#button-form {
    width: 95%;
    margin: 0 auto;
    padding: 3px 20px;
    background: #dc7633;
    color: white;
    seriffont-family: sans-serif;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    line-height: 6vh;
    border-bottom: 4px solid #f25a14;
    border-width: 0;
    border-radius: 30px;
}

#orders-info {
	margin-top: 7%;
}
.your_orders {
  position: relative;
  z-index: 3;
  width: 60%;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  
}
#orders_h2 {
  font-weight: bold;
  color: #f2f4f4;
  font-size: 2rem;
  text-align: center;
  margin: 11.5% 0% 0% 0%;
}
.inner2 section {
  padding: 20px;
  margin: 1vh auto;
  position: relative;
  background-color: rgb(255, 255, 255, 0.85);
  z-index: 3;
  display: block;
  width: 83%;
  padding: 3px 30px;
  margin-bottom: 5px;
  line-height: 2vh;
  border-width: 0;
  border-radius: 30px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
}
.info_about_rent {
  display: flex;
  width: 100%;
  text-align: center;
}
.element {
  width: 100%;
  text-align: right;
}

.button1 {
  position: relative;
  z-index: 3;
  padding: 15px 30px;
  margin-bottom: 10px;
  border-width: 0;
  border-radius: 30px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  margin-top: 20px;
  background: #aaf0b5;
  border-bottom: 4px solid #3d7f46;
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 1vh 2vh;
  MARGIN-LEFT: 7vh;
  width: 80%;
 
}
.button2 {
  position: relative;
  z-index: 3;
  padding: 15px 30px;
  margin-bottom: 10px;
  border-width: 0;
  border-radius: 30px;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 13px;
  margin-top: 20px;
  background: #ff9393;
  border-bottom: 4px solid #b81f1f;
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 1vh 2vh;
  MARGIN-LEFT: 7vh;
  width: 80%;
}
