body {
  margin: 0;
  height: 100vh;
}
header,
footer {
  background-color: black;
}
.header {
  display: flex;
  height: 12vh;
}
.logo {
  width: 10vh;
  height: 10vh;
  padding: 1vh 3vw 1vh 3vw;
}
nav {
  width: 100%;
  display: flex;
}
.nav {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 1.5vh 0vh 0vh 0vh;
  padding: 3vh 0vh;
  transition: all 0.3s;
  width: 14.5%;
  font-size: 1.1875rem;
  font-family: "Inconsolata", monospace;
  color: #f2f4f4;
}
.nav:hover {
  color: #f25a14;
  box-shadow: 0vh -0.5vh 0vh #f25a14 inset;
}

.main {
  overflow: hidden;
  position: relative;
  background: url(https://images7.alphacoders.com/330/330793.jpg) center
    no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
.main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.main_text {
  position: relative;
  z-index: 3;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #f2f4f4;
  font-size: 3.125rem;
  text-align: center;
  margin: 17% 0% 0% 0%;
}
.main_text2 {
  position: relative;
  z-index: 3;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  color: #dc7633;
  font-size: 1.875rem;
  text-align: center;
  text-decoration: underline;
}
.main_text3 {
  position: relative;
  z-index: 3;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  color: white;
  opacity: 0.5;
  font-size: 1.4rem;
  text-align: center;
}

.about_us {
  display: flex;
  height: 65vh;
  width: 100%;
}
#about_us_text1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.about_us_text {
  background-color: rgb(176, 215, 245, 0.5);
  height: 50%;
  width: 40%;
  margin: 7% 0% 10.2% 3%;
  padding: 3vh 3vh;
  border-radius: 3vh;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 1.0625rem;
}
iframe {
  width: 60%;
  height: 60vh;
  margin: 1.75vh 3vh;
  padding: 1vh 1vh;
}

.autopark {
  font-family: "Roboto Slab", serif;
  background-color: white;
  width: 100%;
  height: 140vh;
  display: table;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
#autopark_h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding: 0vh;
}
.row {
  display: table-cell;
  align-items: center;
}
.types_of_cars {
  margin: 0vh;
  padding: 3vh;
  width: 100%;
}
.autopark_p {
  text-decoration: none;
  text-align: center;
  font-size: 1.5625rem;
  font-family: "Inconsolata", monospace;
  color: black;
}
.autopark_p:hover {
  text-decoration: underline;
  color: #f25a14;
}
.cars_PH {
  width: auto;
  height: 100%;
  margin: 0vh 0vh 0vh 18vh;
  opacity: 0.85;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
}
.cars_PH:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.rent {
  background-color: rgb(176, 215, 245, 0.5);
  font-family: "Roboto Slab", serif;
}
#rent_h2 {
  text-align: center;
  padding: 2%;
  margin: 0vh;
}
#rent_h3_1 {
  color: rgb(0, 93, 163);
  text-align: center;
}
#rent_h3_2 {
  color: rgb(163, 0, 0);
  text-align: center;
}
.rent_a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: rgb(0, 93, 163);
}
.rent_a:hover {
  text-decoration: underline;
  color: rgb(0, 59, 140);
  font-size: 120%;
}
.spis {
  display: flex;
}
.spis1 {
  margin: 10px 40px 10px 0px;
}

.push {
  list-style: none;
  font-family: "Roboto Slab", serif;
  font-size: 1.1875rem;
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: rgb(82, 158, 216);
  font-size: 1.1875rem;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4f5151;
  content: "";
  left: 0;
  transition: 0.3s ease-in-out;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted #4f5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
.push li:last-child:after {
  content: none;
}

.push1 {
  list-style: none;
  font-family: "Roboto Slab", serif;
}
.push1 li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: #d63333;
  font-size: 1.1875rem;
}
.push1 li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4f5151;
  content: "";
  left: 0;
  transition: 0.3s ease-in-out;
  top: 27px;
}
.push1 li:after {
  position: absolute;
  border-left: 1px dotted #4f5151;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push1 li:hover:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
.push1 li:last-child:after {
  content: none;
}

#atten {
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding: 50px 20px;
  color: rgb(163, 0, 0);
  font-size: 1.3125rem;
}

.tariffs {
  background-color: black;
  overflow: hidden;
  text-align: center;
  padding: 20px 10px;
  font-family: "Roboto Slab", serif;
  color: #dc7633;
}
#tariffs_a {
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: #707071;
}
#tariffs_a:hover {
  text-decoration: underline;
  color: #dc7633;
  font-size: 120%;
}

.list3b {
  position: relative;
  z-index: 3;
  padding: 10px;
  list-style: none;
  font-family: "Roboto Slab", serif;
}
.list3b li {
  position: relative;
  border-left: 4px solid #f25a14;
  padding: 20px 40px 20px 25px;
  margin: 12px 0 12px 80px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.list3b li:before {
  line-height: 32px;
  position: absolute;
  top: 10px;
  left: -80px;
  width: 80px;
  text-align: center;
  font-size: 1.1875rem;
  color: #707071;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list3b li:hover:before {
  color: #dc7633;
}
.list3b li:after {
  position: absolute;
  top: 26px;
  left: -40px;
  width: 60px;
  height: 60px;
  border: 20px solid #f25a14;
  border-radius: 50%;
  content: "";
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.1);
  transform: translateX(-50%) translateY(-50%) scale(0.1);
  pointer-events: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.list3b li:hover:after {
  opacity: 0.2;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.carBrands {
  background: url(https://a-static.besthdwallpaper.com/oranzhevyy-lamborghini-huracan-ryadom-zheltyy-sportivnyy-avtomobil-oboi-3554x1999-26051_53.jpg)
    center no-repeat;
  overflow: hidden;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}
.carBrands:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#carBrands_h2 {
  position: relative;
  z-index: 3;
  font-family: "Roboto Slab", serif;
  color: #f25a14;
  text-align: center;
  font-size: 1.5625rem;
}
.spisok {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  padding: 0vh;
  width: 100%;
}
.spisok1 {
  padding: 6vh 10vh;
  display: block;
}
.spis_a {
  color: #f25a14;
  font-size: 1.25rem;
  text-decoration: none;
}

footer {
  color: white;
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
}
.contacts {
  display: flex;
  padding: 1vh 1.5vh 0vh 1.5vh;
}
.cont {
  width: 30%;
  text-align: center;
}
.logo2 {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
.t-sociallinks__svg {
  margin: 0vh 1vh;
  display: block;
}
/*#rights {
  font-family: "Inconsolata", monospace;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;

}
